h1 {
    font-family: Holtzman;
    font-size: 42pt;
    text-transform: uppercase;
}

h2 {
    font-family: Holtzman;
    font-size: 30pt;
    text-transform: uppercase;
}

body {
    font-family: din-2014, verdana, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: normal;
}

.tabs-button {
    font-family: din-condensed,sans-serif;
    font-style: normal;
    background: none;
    font-size: 18pt;
    color: black;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 14px;
    margin-bottom: 14px;
    outline: none;
    border: none;
    text-transform: uppercase;
}

.tabs-button:hover {
    color: gray;
}

.tabs-button:active {
    background: white;
    border:none;
}

.tabs-button--active {
    font-weight: bold;
    animation: animSelect .3s;
    border-bottom: 3px solid black;
}

.tabs {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    padding-bottom: 12px;
    padding-top: 12px;
    justify-content: center;
    flex-direction: column;
    max-width: 75vw;
}

.headtext {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    justify-content: center;
}

.tabs-content {
    display: none;
    margin-left: auto;
    margin-right: auto;
    background-color: gainsboro;
    padding-left: 24px;
    padding-right: 24px;
    animation: fadeIn 1.5s;
}

.tabs-content--active {
    display: block;
}

.tabs-sidebar {
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 @keyframes animSelect {
    0% {border-bottom: 0px solid black;}
    100% {border-bottom: 3px solid black;}
 }
 
